<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CadastrarUsuarioServlet</display-name>
    <servlet-name>CadastrarUsuarioServlet</servlet-name>
    <servlet-class>com.eventos.servelet.CadastrarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuarioServlet</servlet-name>
    <url-pattern>/CadastrarUsuarioServlet</url-pattern>
  </servlet-mapping>
  <display-name>Projeto_Web_Organizador_De_Evento</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.eventos.servelet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.eventos.servelet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.eventos.servelet.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CriarEventoServlet</display-name>
    <servlet-name>CriarEventoServlet</servlet-name>
    <servlet-class>com.eventos.servelet.CriarEventoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CriarEventoServlet</servlet-name>
    <url-pattern>/CriarEventoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizarEventoServlet</display-name>
    <servlet-name>VisualizarEventoServlet</servlet-name>
    <servlet-class>com.eventos.servelet.VisualizarEventoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizarEventoServlet</servlet-name>
    <url-pattern>/VisualizarEventoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscricaoEventoServlet</display-name>
    <servlet-name>InscricaoEventoServlet</servlet-name>
    <servlet-class>com.eventos.servelet.InscricaoEventoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscricaoEventoServlet</servlet-name>
    <url-pattern>/InscricaoEventoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarUsuarioServlet</display-name>
    <servlet-name>EditarUsuarioServlet</servlet-name>
    <servlet-class>com.eventos.servelet.EditarUsuarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarUsuarioServlet</servlet-name>
    <url-pattern>/EditarUsuarioServlet</url-pattern>
  </servlet-mapping>
</web-app>